:root{
    --color-primary: #29b6f6;
    --color-primary-focus: #00aeff;
    --color-primary-negative: #184255;

    --white: #FFF;
    --black: #000000;

    
    --grey-0: #F8F9FA;
    --grey-01: #e6e5e5;
    --grey-1: #868E96;
    --grey-2: #343B41;
    --grey-3: #212529;
    --grey-4: #121214;

    --sucess: #3FE864;
    --negative: #E83F5B;

}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--grey-01);
    color: black;
}